body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p,
span,
a,
li {
    margin: 0;
    padding: 0;
}

body {
    font-size: 13px/1.5;
    color: #3c3c3c;
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1", Arial, sans-serif;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: #3c3c3c;
}

em,
i {
    font-style: normal;
}

img {
    border: none;
    vertical-align: middle;
}

input,
button {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

.mr5 {
    margin-right: 5px;
}

.mr7 {
    margin-right: 7px;
}

.mr10 {
    margin-top: 10px;
}

.mt {
    margin-top: 10px;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clear {
    clear: both;
}